body{
    margin: 0px;
}

#navbar{
    position:fixed;
    width:100%;
    height:80px;
    background-color: #94b4ac;
    z-index: 100;
    top:0px;
    display:flex;
}

#gate{
    width:100%;
    height:80px;
}

#nav_logo{
    width:5%;
}

#nav_logo img{
    height:60px;
    width:100%;
}

#search_bar{
    width: 30%;
    margin-left: 10%;
}
#search_bar input{
    width: 100%;
}

#nav_content a{
    margin-right:20px;
    font-size:20px;
    color:white;
    text-decoration: none;
    font-family:Montserrat;
}

#nav_content a:hover{
    text-decoration:underline;
    color:#04566E;
}

#nav_menu{
    width:95%;
}

#nav_content{
    float: right;
    height: 80px;
    align-content: center;
}

#content{
    margin-top: 30px;
    width: 100%;
}

#left_content{
    display: inline-block;
    width: 80%;
}

#select, .search_results{
    width: 100%;
}

ul{
    list-style: none;
}

.search_results{
    height: 80px;
}

.choice{
    font-weight: bold;
    float: left;
    width: 130px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
}

#amount{
    display: inline-block;
    font-weight: bold;
    margin-left: 40px;
    font-size: 25px;
}

#switch_way{
    float: right;
    align-content: center;
    height: 80px;
    margin: 0px;
    margin-right: 50px;
}

#switch_way li{
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}

hr{
    width: 93%;
}

a{
    text-decoration: none;
    color: black;
}


