{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href= "{%static '/css/house_list.css' %}" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>house_list</title>
</head>
<body>
    <div>
        {% include 'elements/navbar.html' %}
    </div>

    <div id="yc_content">
        <div id="yc_right_content">
            <div class="yc_new">
                <a class="btn btn-primary" href="{% url 'upload_page' %}">新增租屋</a>
            </div>
        </div>
        <div id="yc_left_content">
            <div class="yc_search_results">
                <p id="yc_amount">已為您找到<span> {{ numbers }} </span>間房屋</p>    {# 搜尋到符合條件的房屋數量 #}
                <ul id="yc_switch_way">    {# 列表排序方式 #}
                    <li><a href="{% url 'house_lists' %}?index=0">最新</a></li>
                    <li><a href="{% url 'house_lists' %}?index=1">價格</a></li>
                    <li><a href="{% url 'house_lists' %}?index=2">坪數</a></li>
                </ul>
            </div>
            <div id="yc_content_R">
                {% include 'elements/product_template.html' %}
                {% if rows %}
                {% else %}
                    <p id="nothing_found">沒有相關結果</p>
                {% endif %}
            </div>
        </div>
    </div>
<!-- Javascript Files
  ================================================== -->
  <!-- initialize jQuery Library -->
  <script src="{% static '/plugins/jQuery/jquery.min.js' %}"></script>
{#  <!-- Bootstrap jQuery -->#}
  <script src="{% static '/plugins/bootstrap/bootstrap.min.js' %}" defer></script>
{#  <!-- Slick Carousel -->#}
  <script src="{% static '/plugins/slick/slick.min.js' %}"></script>
  <script src="{% static 'plucgins/slick/slick-animation.min.js'%}"></script>
  <!-- Color box -->
  <script src="{% static '/plugins/colorbox/jquery.colorbox.js' %}"></script>
  <!-- shuffle -->
  <script src="{% static '/plugins/shuffle/shuffle.min.js' %}" defer></script>


{#  <!-- Google Map API Key-->#}
{#  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>#}
{#  <!-- Google Map Plugin-->#}
{#  <script src="plugins/google-map/map.js" defer></script>#}

  <!-- Template custom -->
  <script src="{% static '/js/template_js.js' %}"></script>
</body>
</html>