{% load static %}
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>編輯房屋</title>
  <!-- 引入 Bootstrap CSS -->
  <link href="../../static/css/bootstrap_css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container">
  <!-- 本頁面標題 -->

  <h1 class="mt-5">編輯房屋資訊</h1>
  <form id="house-form" method="POST" action="{% url 'edit_house' hId=house.hId %}">
      {% csrf_token %}

    <div class="accordion" id="accordion">
      <div class="accordion-item">

        <!-- 簡介(下拉式列表) -->
        <h2 class="accordion-header" id="introduction-heading">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#introduction" aria-expanded="true" aria-controls="introduction">
            簡介
          </button>
        </h2>
        <div id="introduction" class="accordion-collapse collapse show" aria-labelledby="introduction-heading" data-bs-parent="#accordion">
            <div class="accordion-body">
                <!-- 標題 -->
                <div class="mb-3">
                    <label for="title" class="form-label">標題：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="房子名稱" value="{{ house.title }}">
                </div>

            <!-- 區域 -->
            <div class="mb-3">
              <label for="region" class="form-label">區域：</label>
              <select name="region" id="region" class="form-select" value="{{ house.region }}">
                <!-- 區域選項 -->
                <option value="--" {% if house.region == "--" %}selected{% endif %}>--</option>
                <option value="1" {% if house.region == 1 %}selected{% endif %}>臺北市</option>
                <option value="2" {% if house.region == 2 %}selected{% endif %}>新北市</option>
                <option value="3" {% if house.region == 3 %}selected{% endif %}>桃園市</option>
                <option value="4" {% if house.region == 4 %}selected{% endif %}>臺中市</option>
                <option value="5" {% if house.region == 5 %}selected{% endif %}>臺南市</option>
                <option value="6" {% if house.region == 6 %}selected{% endif %}>高雄市</option>
                <option value="7" {% if house.region == 7 %}selected{% endif %}>宜蘭縣</option>
                <option value="8" {% if house.region == 8 %}selected{% endif %}>新竹縣</option>
                <option value="9" {% if house.region == 9 %}selected{% endif %}>苗栗縣</option>
                <option value="10" {% if house.region == 10 %}selected{% endif %}>彰化縣</option>
                <option value="11" {% if house.region == 11 %}selected{% endif %}>南投縣</option>
                <option value="12" {% if house.region == 12 %}selected{% endif %}>雲林縣</option>
                <option value="13" {% if house.region == 13 %}selected{% endif %}>嘉義縣</option>
                <option value="14" {% if house.region == 14 %}selected{% endif %}>屏東縣</option>
                <option value="15" {% if house.region == 15 %}selected{% endif %}>臺東縣</option>
                <option value="16" {% if house.region == 16 %}selected{% endif %}>花蓮縣</option>
                <option value="17" {% if house.region == 17 %}selected{% endif %}>澎湖縣</option>
                <option value="18" {% if house.region == 18 %}selected{% endif %}>基隆市</option>
                <option value="19" {% if house.region == 19 %}selected{% endif %}>新竹市</option>
                <option value="20" {% if house.region == 20 %}selected{% endif %}>嘉義市</option>
                <option value="21" {% if house.region == 21 %}selected{% endif %}>金門縣</option>
                <option value="22" {% if house.region == 22 %}selected{% endif %}>連江縣</option>
              </select>
            </div>

            <!-- 屋齡 -->
            <div class="mb-3">
              <label for="age" class="form-label">屋齡(請填數字)：</label>
              <input type="text" class="form-control" id="age" name="age" placeholder="單位:年，例:10" required value="{{ house.age }}">
            </div>

            <!-- 地址 -->
            <div class="mb-3">
              <label for="address" class="form-label">地址：</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="例:高雄市三民區十全一路100號濟世大樓1樓" value="{{ house.address }}">
            </div>

            <!-- 格局 -->
            <div class="mb-3">
              <label class="form-label">格局(房/廳/衛)：</label>
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" id="room" name="room" placeholder="房" value="{{ house.room }}">
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="living" name="living" placeholder="客廳" value="{{ house.living }}">
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="bath" name="bath" placeholder="衛" value="{{ house.bath }}">
                </div>
              </div>
            </div>

            <!-- 坪數 -->
            <div class="mb-3">
              <label for="area" class="form-label">坪數(請填數字)：</label>
              <input type="text" class="form-control" id="area" name="size" placeholder="單位:坪，例:40" value="{{ house.size }}">
            </div>

            <!-- 類型 -->
            <div class="mb-3">
              <label for="type" class="form-label">類型：</label>
              <select class="form-select" id="type" name="type">
                <!-- 類型選項 -->
                <option value="--" {% if house.type == "--" %}selected{% endif %}>--</option>
                <option value="大樓(11層含以上有電梯)" {% if house.type == "大樓(11層含以上有電梯)" %}selected{% endif %}>大樓(11層含以上有電梯)</option>
                <option value="透天厝" {% if house.type == "透天厝" %}selected{% endif %}>透天厝</option>
                <option value="多層樓組合" {% if house.type == "多層樓組合" %}selected{% endif %}>多層樓組合</option>
                <option value="華廈(10層含以下有電梯)" {% if house.type == "華廈(10層含以下有電梯)" %}selected{% endif %}>華廈(10層含以下有電梯)</option>
                <option value="其他" {% if house.type == "其他" %}selected{% endif %}>其他</option>
                <option value="公寓(5樓含以下無電梯)" {% if house.type == "公寓(5樓含以下無電梯)" %}selected{% endif %}>公寓(5樓含以下無電梯)</option>
              </select>
            </div>

            <!-- 類型 -->
            <div class="mb-3">
              <label for="type" class="form-label">朝向：</label>
              <select class="form-select" id="direction" name="direction">
                <!-- 類型選項 -->
                <option value="--" {% if house.direction == "--" %}selected{% endif %}>--</option>
                <option value="北" {% if house.direction == "北" %}selected{% endif %}>北</option>
                <option value="東" {% if house.direction == "東" %}selected{% endif %}>東</option>
                <option value="南" {% if house.direction == "南" %}selected{% endif %}>南</option>
                <option value="西" {% if house.direction == "西" %}selected{% endif %}>西</option>
                <option value="東北" {% if house.direction == "東北" %}selected{% endif %}>東北</option>
                <option value="東南" {% if house.direction == "東南" %}selected{% endif %}>東南</option>
                <option value="西南" {% if house.direction == "西南" %}selected{% endif %}>西南</option>
                <option value="西北" {% if house.direction == "西北" %}selected{% endif %}>西北</option>
              </select>
            </div>

            <!-- 樓層 -->
            <div class="mb-3">
              <label for="floor" class="form-label">樓層：</label>
              <input type="text" class="form-control" id="floor" name="level" placeholder="單位:樓，例:11" value="{{ house.level }}">
            </div>
          </div>
        </div>
      </div>

      <!-- 細節(下拉式列表) -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="details-heading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#details" aria-expanded="false" aria-controls="details">
            細節
          </button>
        </h2>
        <div id="details" class="accordion-collapse collapse" aria-labelledby="details-heading" data-bs-parent="#accordion">
          <div class="accordion-body">

            <!-- 設備 -->
            <div class="mb-3">
              <label class="form-label">設備：</label>
              <!-- 設備(勾選框) -->
              <label><input type="checkbox" name="tv" value="1" {% if house.tv %} checked {% endif %}><span>電視機</span></label>
              <label><input type="checkbox" name="washer" value="1" {% if house.washer %} checked {% endif %}><span>洗衣機</span></label>
              <label><input type="checkbox" name="wifi" value="1" {% if house.wifi %} checked {% endif %}><span>網絡</span></label>
              <label><input type="checkbox" name="refrigerator" value="1" {% if house.refrigerator %} checked {% endif %}><span>冰箱</span></label>
              <label><input type="checkbox" name="gas" value="1" {% if house.gas %} checked {% endif %}><span>瓦斯爐</span></label>
              <label><input type="checkbox" name="aircond" value="1" {% if house.aircond %} checked {% endif %}><span>冷氣</span></label>
              <label><input type="checkbox" name="heater" value="1" {% if house.heater %} checked {% endif %}><span>熱水器</span></label>
              <label><input type="checkbox" name="channel4" value="1" {% if house.channel4 %} checked {% endif %}><span>第四台</span></label>
            </div>

            <!-- 家具 -->
            <div class="mb-3">
              <label class="form-label">家具：</label>
              <!-- 設備(勾選框) -->
              <label><input type="checkbox" name="sofa" value="1" {% if house.sofa %} checked {% endif %}><span>沙發</span></label>
              <label><input type="checkbox" name="bed" value="1" {% if house.bed %} checked {% endif %}><span>床組</span></label>
              <label>