<!-- myproject/myapp/templates/face_recognize.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
</head>
<body>
    <h1>Face Recognition</h1>
    <button id="recognizeButton">Recognize</button>
    <p id="result"></p>

    <!-- 添加CSRF令牌 -->
    <form id="csrf-form">
        {% csrf_token %}
    </form>

    <script>
        document.getElementById("recognizeButton").addEventListener("click", function() {
            // 获取CSRF令牌
            var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            fetch('/recognize', {
                method: 'POST',
                // 将CSRF令牌添加到请求头中
                headers: {
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").textContent = data.message;
                if (data.alert) {
                    alert("Hello, Super Manager");
                    // 识别成功后重定向到 http://127.0.0.1:8000/ 页面
                    window.location.href = 'http://127.0.0.1:8000/';
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
