{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href= "{%static '/css/house_list.css' %}" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>house_list</title>
</head>
<body>
    <div id="yc_navbar">
        <div id="yc_nav_logo">
            <a href=""><img src="{%static '\img\equipment\net.png' %}"></a>
        </div>
        <form method="post" action="search_test/">
            {% csrf_token %}
            <div id="yc_search_bar">
                <input type="text" name="keyword" placeholder="Search bar">
            </div>
        </form>

        <div id="yc_nav_menu">
            <div id="yc_nav_content">
                <a href="">租屋</a>
                <a href="">售屋</a>
                <a href="">登入</a>
            </div>
        </div>
    </div>

    <div id="yc_gate"></div>

    <div id="yc_city_list">
        <p class="yc_chosen_city">高雄市</p>
        <a><i class="bi bi-caret-down-fill"></i></a>
        <form>
            <div id="yc_listed">
                <ul>
                    <p>北部</p>
                    <li><a>台北市</a></li>
                    <li><a>新北市</a></li>
                    <li><a>基隆市</a></li>
                    <li><a>桃園市</a></li>
                    <li><a>新竹市</a></li>
                    <li><a>新竹縣</a></li>
                    <li><a>宜蘭縣</a></li>
                </ul>
                <ul>
                    <p>中部</p>
                    <li><a>苗栗縣</a></li>
                    <li><a>台中市</a></li>
                    <li><a>彰化縣</a></li>
                    <li><a>南投縣</a></li>
                    <li><a>雲林縣</a></li>
                </ul>
                <ul>
                    <p>南部</p>
                    <li><a>嘉義市</a></li>
                    <li><a>嘉義縣</a></li>
                    <li><a>台南市</a></li>
                    <li><a>高雄市</a></li>
                    <li><a>屏東縣</a></li>
                    <li><a>澎湖縣</a></li>
                </ul>
                <ul>
                    <p>東部</p>
                    <li><a>花蓮縣</a></li>
                    <li><a>台東縣</a></li>
                </ul>
                <ul>
                    <p>離島</p>
                    <li><a>金門縣</a></li>
                    <li><a>連江縣</a></li>
                </ul>
            </div>
        </form>
    </div>

    <div id="yc_content">
        <div id="yc_left_content">
            <div class="yc_search_results">
                <p id="yc_amount">已為您找到<span> 999 </span>間房屋</p>    {# 搜尋到符合條件的房屋數量 #}
                <ul id="yc_switch_way">    {# 列表排序方式 #}
                    <li>預設</li>
                    <li>最新</li>
                    <li>價格</li>
                    <li>坪數</li>
                </ul>
            </div>
            <div id="yc_content_R">
                {% include 'product_template.html' %}
            </div>
        </div>
    </div>
</body>
</html>