{% load static %}


<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>房屋介紹</title>
    <link href= "{%static '/css/house_rent_cont.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body>
   <div class="container">
    <div class="short_describe">
        <div class="objects-name-phone">
       <div class="house-name">{{ row.title }}</div>
    </div>
        <div class="image">
            <img src="{%static '/img/house/'|add:row.hId|add:'-2.jpg' %}" alt="房屋">
        </div>
        <div class="house-info">
            <h2 class="house_info_title">簡介</h2>
            <ul>
                <li>租屋價格: <span class="price">{{ row.price }}/月</span></li>
                <li>地址: <span class="address">{{ row.address }}</span></li>
                <li>格局: <span class="pattern">{{ row.room }}房/{{ row.living }}客廳/{{ row.bath }}衛</span></li>
                <li>坪數: <span class="size">{{ row.size }}坪</span></li>
                <li>類型: <span class="type">{{ row.type }}</span></li>
                <li>樓層: <span class="level">{{ row.level }}樓</span></li>
                <li>
                    <div class="add-to-favorites">
                        <button>添加收藏</button>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

        <div class="detailed-info">
            <h2 class="detail_title">細節</h2>
            <ul class="detail_list">
                <li>基礎設施: <span class="basic">電梯/停車場/保全</span></li>
                <li>交通: <span class="transport">地鐵/火車/公車/自行車</span></li>
                <li>生活: <span class="live">寵物/烹飪</span></li>
                <li>租期: <span class="period">一年</span></li>
                </ul>
            <div class="equip">
            <ul>
                <li><img src="{% static '/img/equipment/bed.png' %}" class="equ_img {% if equipment.bed == 0 %}equ_img_no{% endif %}" alt="bed"></li>
                <li><img src="{% static '/img/equipment/closet.png' %}" class="equ_img  {% if equipment.cabinet == 0  %}equ_img_no{% endif %}" alt="cabinet"></li>
                <li><img src="{% static '/img/equipment/cold.png' %}" class="equ_img {% if equipment.aircond == 0  %}equ_img_no{% endif %}" alt="cold"></li>
                <li><img src="{% static '/img/equipment/fourth.png' %}" class="equ_img {% if equipment.channel4 == 0  %}equ_img_no{% endif %}" alt="fourth"></li>
                <li><img src="{% static '/img/equipment/fridge.png' %}" class="equ_img {% if equipment.refrigerator == 0  %}equ_img_no{% endif %}" alt="fridge"></li>
                <li><img src="{% static '/img/equipment/gas.png' %}" class="equ_img {% if equipment.gas == 0  %}equ_img_no{% endif %}" alt="gas"></li>
                <li><img src="{% static '/img/equipment/heater.png' %}" class="equ_img {% if equipment.hot_water == 0  %}equ_img_no{% endif %}" alt="heater"></li>
                <li><img src="{% static '/img/equipment/sofa.png' %}" class="equ_img {% if equipment.sofa == 0  %}equ_img_no{% endif %}" alt="sofa"></li>
                <li><img src="{% static '/img/equipment/tv.png' %}" class="equ_img {% if equipment.table == 0  %}equ_img_no{% endif %}" alt="tv"></li>
                <li><img src="{% static '/img/equipment/washer.png'%}" class="equ_img {% if equipment.wash_machine == 0  %}equ_img_no{% endif %}" alt="washer"></li>
                <li><img src="{% static '/img/equipment/net.png'%}" class="equ_img {% if equipment.wifi == 0  %}equ_img_no{% endif %}" alt="wifi"></li>
            </ul>

            </div>
        </div>
        <div class="features">
    <h2 class="title">特色描寫</h2>
    <p>這間房屋具有優越的交通便利性，並配備了現代化的家電設備。您可以在這裡輕鬆享受生活，並擁有一個舒適的居住環境。</p>
</div>

        <div class="all_images">
            <h2 class="title">所有圖片</h2>
            {% for image in images %}
                <img src="{% static '/img/house/'|add:image.path %}" class="imgs" alt={{ row.hId }}>
            {% endfor %}
        </div>
        <div class="map">
            <h2 class="title">地圖</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.327868243799!2d135.72841531522985!3d34.68504748043798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001064a3f3e5e4b%3A0x8e2b70a2609e4266!2sKyoto%2C%20Japan!5e0!3m2!1sen!2sus!4v1631541373926!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
</body>
</html>