{% load static %}

<link href= "{%static '/css/product_template.css' %}" type="text/css" rel="stylesheet"/>
<div class="product">
    <a href=""><img src="{%static '/img/A.jpg' %}" alt="house1">  {# 房屋照片 #}
        <div class="detail">
            <h4 class="title">房屋標題</h4>
            <ul class="situation">
                <li class="type">獨立套房</li>    {# 房屋類型 #}
                <li class="size">10坪</li>   {# 坪數大小 #}
                <li class="level">10F</li>    {# 樓層 #}
            </ul>
            <p class="address">蓮海路 70 號</p>   {# 房屋地址 #}
            <ul class="layout">
                <li class="room">2室</li>  {# 幾室 #}
                <li class="bath">1衛浴</li>  {# 幾衛浴 #}
                <li class="living">1廳</li>    {# 幾廳 #}
            </ul>
            <p class="favorite">收藏</p>
            <p class="price"><span>10000</span>元/月</p>   {# 房屋售價 #}
        </div>
    </a>
</div>
