{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static '/css/verify.css' %}>
    <title>verify</title>
</head>
<body>
    <div>
        {% include 'elements/navbar.html' %}
    </div>
    <div class="file_verify">
        <h1>驗證租約</h1>
        <form action="{% url 'verify' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>預約編號: <input type="text" name="booking_seq" required></label>
            <br/><br/>
            <label>租約憑證: <input type="file" name="certificate"></label>
            <br/>
            <br/>
            <div>
                <button type="submit">上傳待驗證租約</button>
            </div>
        </form>
        {% if validity %}
            {% if validity == 1 %}
            <p>驗證成功!這是正確的租約</p>
            {% elif validity == 2 %}
            <p>此租約非本交易產生/經過修改</p>
            {% endif %}
        {% endif %}
    </div>

</body>
</html>